
    h1{
        background-color:#f48fb1; color:#fafafa}

    h2{font-family: sans-serif;}

    .reason {background-color:SlateBlue; color:Skyblue
    
    }
   
    .profile_img {
            width: 250px;
            height: 300px;
    }
    